html, body {
    margin: 20px auto;
    width: 75%;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

h1, h2 {
    font-weight: 300;
    text-align: center;
}

#article {
    line-height: 1.5;
    text-align: justify;
}

section {
    padding: 10px 0px;
}

.w3-codespan {
    color: crimson;
    background-color: #f1f1f1;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

/*
Código da página w3s
*/

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px){
    [class*="col-"] {
        width: 100%;
    }
}

/**********************************
phones, tablets, laptops e desktops
**********************************/

.example {
    padding: 10px;
    color: white;
    background-color: #9933cc;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {
        background-color: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {
        background-color:green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {
        background-color: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background-color: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background-color: pink;
        color: black;
    }
}

/**********************************
Orientation: Portrait/ landscape
**********************************/

.lands {
    background-color: green;
    padding: 10px;
}

@media only screen and (Orientation: landscape) {
    .lands {
        background-color: lightgreen;
    }
}

/**********************************
Hide Elements Media Queries
**********************************/

.hide {
    background-color: yellow;
    padding: 5px;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    .hide {
        display: none;
    }
}

/**********************************
Change Font Size
**********************************/

.font {
    background-color: lightgray;
    padding: 5px;
}

@media screen and (min-width: 601px) {
    div.font {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 600px) {
    div.font {
      font-size: 12px;
    }
  }