html, body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background-color: floralwhite;
  line-height: 1.6;
}

h1, h2 {
  text-align: center;
}

.event {
  line-height: 1.4;
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;   
  word-wrap: break-word;
}

#demo, #demo2, #demo3, #demo4, #demo5 {
  width: auto;
  padding: 8px 12px;
  border-left: 4px;
  word-wrap: break-word;
  color: crimson;
}
#comment {
    border-left: 6px solid #ffeb3b;
    background-color: #ffffcc;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 12px;

th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.w3-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.w3-table-all {
    border: 1px solid #ccc;
}

table.w3-table-all {
    margin: 20px 0;
}

.w3-note {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}

.w3-panel {
    padding: 0.01em 16px;
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
