html, body {
  font-size: 18px;
  font-family: Verdana, sans-serif;
  background-color: cadetblue;
    background-color: #628eed;
}
h2 {
  text-align: center;
  color: black;
}
#demo, #demo2, #demo3 {
  font-size: 16px;
  color: crimson;
}
#code {
  line-height: 1.4;
  width: auto;
  background-color: #fff;
  padding: 6px 8px;
  border-left: 5px solid #4CAF50;
  word-wrap: break-word;
}
.blue {
  color: blue;
}
.green {
  color: lawngreen;
}
