html, body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    background-color: floralwhite;
}
.fill {
    object-fit: fill;
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.scale-down {
    object-fit: scale-down;
}

.none {
    object-fit: none;
}