.card {
    padding: 16px;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

.card_colorFirst {
    background-color: #45aaee;
}

.card_colorSecound {
    background-color: #ff1010;
}

.card_colorThird {
    background-color: #76e740;
}

.card_colorFourth {
    background-color: #ebef40;
}