.header {
    background-color: #0082c7;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-title {
    color: #b3daee;
    display: inline;
    vertical-align: middle;
}

.header-menu {
    float: right;
}

.header-button:first-child {
    margin-right: 15px;
}

.header-button {
    background-color: #006195;
    color: white;
    height: 22px;
    padding: 8px;
    box-sizing: content-box;
    font-size: 16px;
    display: inline-block;
}