html, body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background-color: aliceblue;
}
h1, h2 {
  text-align: center;
}
#demo, #demo2, #demo3 {
  font-size:16px;
  font-family: Verdana, sans-serif;
  color: crimson;
}
