html, body {
    width: 75%;
    margin: 20px auto;
    font-size: 16px;
    font-family: Verdana,sans-serif;
}

span {
    color: crimson;
}

h1, h2 {
    text-align: center;
    font-weight:400;
}

/* translate */
div#translate {
    width:300px;
    height:100px;
    background-color: yellow;
    border: 1px solid black;
    transform: translate(50px, 100px);
}

div#vertical-center {
    width: 250px;
    height: 100px;
    background-color: #f3f3f3;
    transform: translate(400px, 50px);
}

div#other-translate {
    background-color: lightblue;
    width: 400px;
    height: 100px;
    padding: 10px;
    -moz-transform: translate(150px, 100px);
}

/* rotate */
div#rotate {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

div#myDiv {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: rotate(20deg);/*Sintaxe padrão*/
    -webkit-transform: rotate(20deg);/*Sintaxe do safari(algumas versões anteriores o chrome utilizou deste motor de renderização)*/
    -o-transform: rotate(20deg);/*sintaxe utlizada no opera*/
    -moz-transform: rotate(20deg);/*SIntaxe utlizada no mozila firefox*/
}

div#rotate2 {
    width: 300px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
}

div#myDiv2 {
    width: 300px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
    -moz-transform: rotate(-30deg); /* anti-horário */
}

/* scale */
div#scale {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scale(1, 2);
}

div#scale2 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scale(1, 2);
    float: right;
    margin-bottom: 20px;
}

/* skew */
div#skew {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
    -webkit-transform: skewX(10deg);
    -webkit-transform: skewY(10deg);
}